html, body, #root, .App {
    height: 100%;
    width: 100%;
}
.App {
    max-width: 800px;
    padding: 0;
    margin: 0 auto;
}
.loading {
  margin: 0 auto;
  display: block;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
