body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Roboto', 'Ubuntu', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
}
